Options +FollowSymLinks -Indexes
RewriteEngine on

# Все запросы к несуществующим файлам - на index
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php