Options +FollowSymLinks
IndexIgnore */*
RewriteEngine on
# RewriteBase /

# Перенаправление с ДОМЕН на ДОМЕН/api
# RewriteCond %{REQUEST_URI} ^/$
# RewriteRule ^(.*)$ /api/$1 [R=301]

#Если URI начинается с api/ то перенаправлять все запросы на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
# RewriteRule ^api/(.*)$ /index.php
RewriteRule ^(.*)$ index.php